.special-event {
    background: url("https://image.flaticon.com/sprites/share/packs/414976-mothers-day.png");
	margin-bottom: 0px;
	margin-top: 60px;
	height: 155px;
	margin-left: -200px;
	background-position: center top;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}