header {
    text-align: center;   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
section {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

nav {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica, Geneva, sans-serif;
	margin-left:5%;
	margin-right:5%;
}

div a {
	color: black;
}

h1 {
	text-align: center;
	font-size: 34px;
	color: black;
	font-weight: bold;
	font-family: Helvetica, Geneva, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:10%;
	margin-right:10%;
}

h2 {
	font-size: 26px;
	color: black;
	font-weight: bold;
	font-family: Helvetica, Geneva, sans-serif;
	text-align: center;
	margin-left:10%;
	margin-right:10%;
	margin-top: -10px;
	margin-bottom: 10px;
}

h2 a {
	color: black;
	font-weight: bold;
}

h2 a:hover {
	color: rgb(244, 188, 51);
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica, Geneva, sans-serif;
	margin-left:5%;
	margin-right:5%;
}

.introduction{
	color: rgb(255,255,255);
	margin-left:1%;
	margin-right:1%;
	border-radius: 25px;
    background: rgb(96,96,96);
    padding: 20px;
}

.imagebanner{
	margin-top: 10px;
	margin-bottom: 10px;
}

.imagebanner img {
    width: 100%;
}

@media only screen and (min-width: 1140px) {
    .imagebanner { 
		position: relative;
		overflow:hidden;
		height:600px;
	}
    .imagebanner img { 
		position: absolute;
		top:-100%; left:0; right: 0; bottom:-100%;
		margin: auto;
	}
}

h3 a {
	color: black;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Geneva, sans-serif;
	font-weight: bold;
	margin-left:10%;
	margin-right:10%;
}

h5 {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica, Geneva, sans-serif;
}

p {
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, Geneva, sans-serif;
	margin-bottom: 20px;
	margin-left:1%;
	margin-right:1%;
}

.col-sm {
	margin-top: 0px;
}

.fa{
	color: rgb(244, 188, 51);
	margin-bottom: 5px;
	margin-top: 5px;
}
 
footer {
	background-color: rgb(244, 188, 51);
	text-align: center;
    padding: 15px 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	/*margin-top: 100px;*/
}

footer .fa {
	color: black;
	font-size: 36px;
}

.header-container {
	width: 100%;
	height: 550px;
	border-left: none;
	border-right: none;
	position: relative;
}

.video-container {
	position: absolute;
	left: 0%;
	height:100%;
	width: 100%;
	overflow: hidden;
}

video {
	position: absolute;
	z-index: -1;
	opacity: 0.5;
	width:100%;
}

li {
	font-size: 16px;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
}

li.nav-item a:hover {
    background-color: rgb(244, 188, 51);
    color: black;
}

li a:hover {
	background-color: rgba(244, 188, 51,0);
    color: white;
}

.dropdown-menu a:hover {background-color: rgb(244, 188, 51)}
.dropdown-item {font-size: 15px;}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,900);

body{
  font-family: 'Raleway', sans-serif;
  color: #333;
}

header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
  
 header p{
   text-align: center;
   margin-bottom: 0;
 }

.symbol{
  border: 0px;
  float: left;
  text-align: center;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 10px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgb(0,0,0) 8%, rgb(0,0,0) 92%, rgba(0,0,0,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 3em 0;
}

.timeline .symbol{
  width: 16px;
  height: 24px;
  position: absolute;
  background: rgb(244, 188, 51);
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  border-radius: 10px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: center;
  border-radius: 10px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: rgb(244, 188, 51);
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .symbol {
    left: -28px;
    right: auto;
    top: 0px;
  }

  .timeline .direction-l .symbol {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 1000px;
    margin: 0 auto;
  }

  .direction-l {
    position: relative;
    width: 480px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 480px;
    float: right;
    text-align: left;
  }
}

#main-icon {
	font-size: 90px;
}

hr{
	height: 1px;
	color: rgb(244, 188, 51);
	background-color: rgb(244, 188, 51);
	border: none;
}

#videobackground {
  position: relative;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%; 
  z-index: -100;
  background-size: cover;
}

#address { 
	/*background: rgba(244, 188, 51, 0.5);*/
	color: black;
	padding: 0.5rem;
	margin:0.5rem;
	float: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.content {
  /*background: rgba(244, 188, 51, 0.5);*/
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5em;
  width: 100%;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
.currentSubHeader {
	color: #F4BC33;
}

#readmore {
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left:10%;
	margin-right:10%;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.edu {
	text-align: left;
	border: 1px solid #F4BC33;
    padding: 10px;
}

#secondarynav {
	margin-top:-10px
}

#tablepodiatrists table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left:1%;
	margin-right:1%;
}

#tablepodiatrists th, td {
    padding: 10px;
}

#tablepodiatrists table {
	margin-bottom: 50px;
}

.app-row { margin-bottom: 100px; }
.app-icon { width: 100%; }

.blockquote { 
	font-size: 16px !important;
    font-style: italic;
	quotes: "\201C""\201D""\2018""\2019"; 
}
.blockquote:before {     
	color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.blockquote:after {
	color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.readmore, .readless {
	color: rgb(244, 188, 51);
    font-style: italic;
	font-weight: bold;
	cursor: pointer;
}
.readless { display:none; }
.morecontent { width: 100%; display:none; }

.form-row h4 { margin-left:0px ;margin-right:0px; }
.form-row span { color:red; }


.submitButton {
	background-color: rgb(244, 188, 51);
	color: black;
	border: 1px solid black;
	text-align: center;
}

.submitButton h5 { margin-top:5px; }

#all-button	{
	background-color: rgb(244, 188, 51);
	color: black;
	border: 1px solid black;
	text-align: center;
}

.title_form {
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
}

.image-rot { transform: rotate(-90deg); }

.image-team {
    width: 200px;	
}

.row.app-row a img {
    width: 300px;
}

@media (max-width: 576px) 
{
    .second-header
    {
        display: none;
    }
}